<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Analytics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF57786B2089E244009CFFEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF57787F2089E245009CFFEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF57788A2089E245009CFFEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
